<%- include ('./partials/head') %>

<section id="information">
  <a href="/">
    <button class="back">
       <h4>
        Back to Home
      </h4> 
    </button>
  </a>
      <img 
      class="detailed-art" 
      src=<%= data.artObject.webImage.url.slice(0, -3)+"=s300" %> 
      alt="<%= data.artObject.title %>"
      width="200"
      height="400"/>
      <h2>
        <%= data.artObject.principalOrFirstMaker %>, <%= data.artObject.dating.yearEarly %>
      </h2>
      <p class="detailed-description">
        <%= data.artObject.description %>
      </p>

</section>

<%- include ('./partials/foot') %>
