<section id="home">
  <header>
    <img 
    src="img/rijksmuseum.avif"
    alt="rijksmuseum logo" 
    class="logo"
    width="70%"
    height="auto"
     />
    <form method="get" action="/search">
      <input
        id="search-input"
        type="search"
        placeholder="Zoek naar uw kunst..."
        name="q"
      />
      <button type="submit" class="search-button" aria-label="search-button">
        <img src="img/search.svg" alt="search icon" class="search-icon" />
      </button>
      <button class="open-filter" aria-label="open-filter">
        <svg width="1em" height="auto" viewBox="0 0 102 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M96.7251 0H3.72506C-1.87494 2 0.0583907 6.83333 1.72506 9L36.2251 43V80.5L56.7251 100.5C61.1251 102.1 63.8917 98.8333 64.7251 97V43L100.225 7C103.025 2.6 99.0584 0.5 96.7251 0Z" fill="white"/>
          </svg>
      </button>
    </form>
  </header>
  <div class="error"></div>
  <form id="filter" class="hidden">
    <button class="jaar-button" name="jaar">jaar</button>
    <div class="jaar-open hidden">
      <input
        class="jaar-open-style"
        id="jaarmin"
        type="number"
        name="jaarmin"
        min="1000"
        max="2021"
        step="20"
        placeholder="1000"
      />
      <h1 class="dash">-</h1>
      <input
        class="jaar-open-style"
        id="jaarmax"
        type="number"
        name="jaarmax"
        min="1000"
        max="2021"
        step="20"
        placeholder="2021"
      />
    </div>

    <input
      class="filter"
      id="artiest"
      type="text"
      placeholder="artiest"
    />
    <input class="filter" id="type" type="text" placeholder="type" />
    <button class="apply filter" name="apply-filter">
      <i class="fa fa-arrow-down arrow-down"></i>
    </button>
  </form>
</section>
<section id="art-list">

  <br>
 
  <ul class="data-list">
   
    <% data.forEach((artObject)=> { %>
      <li class="<% artObject.id %>">
        <a href="/detail">
          <img 
          class="art" 
          src=<%= artObject.webImage.url.slice(0, -3)+"=s300" %> 
          alt="<%= artObject.title %>"/>
          <span><h3><%= artObject.principalOrFirstMaker %></h3></span>
          <h1><%= artObject.title %></h1>
        </a>
      </li>
      <% }) %>

  </ul>

  <div class="next-page">
    <h1 class="page page-number"><%= data.length %></h1>
    </div>
</section>